/nbproject/private/
/CRUD_ESTUDIANTE_2020_2-war/nbproject/private/
/CRUD_ESTUDIANTE_2020_2-ejb/nbproject/private/
/CRUD_ESTUDIANTE_2020_2-ejb/build/
/CRUD_ESTUDIANTE_2020_2-ejb/dist/
/CRUD_ESTUDIANTE_2020_2-war/build/
/CRUD_ESTUDIANTE_2020_2-war/dist/
/build/
/dist/